# Analysis on IPL dataset - part 1

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv('matches.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [13]:
# Q1. Find the total number of matches played till now in IPL
df['id'].nunique()

636

In [14]:
# Q2. Create a new dataframe from df which will have all the alternate rows and columns from df starting from 0
alter=df.iloc[::2,::2]
alter

,id,city,team1,toss_winner,result,winner,win_by_wickets,venue,umpire2
0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,Sunrisers Hyderabad,0,"Rajiv Gandhi International Stadium, Uppal",NJ Llong
2,3,Rajkot,Gujarat Lions,Kolkata Knight Riders,normal,Kolkata Knight Riders,10,Saurashtra Cricket Association Stadium,CK Nandan
4,5,Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,0,M Chinnaswamy Stadium,NaN
6,7,Mumbai,Kolkata Knight Riders,Mumbai Indians,normal,Mumbai Indians,4,Wankhede Stadium,CK Nandan
8,9,Pune,Delhi Daredevils,Rising Pune Supergiant,normal,Delhi Daredevils,0,Maharashtra Cricket Association Stadium,S Ravi
...,...,...,...,...,...,...,...,...,...
626,627,Kanpur,Kolkata Knight Riders,Gujarat Lions,normal,Gujarat Lions,6,Green Park,CK Nandan
628,629,Visakhapatnam,Kings XI Punjab,Kings XI Punjab,normal,Rising Pune Supergiants,4,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon
630,631,Kolkata,Kolkata Knight Riders,Sunrisers Hyderabad,normal,Kolkata Knight Riders,0,Eden Gardens,M Erasmus
632,633,Bangalore,Gujarat Lions,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,4,M Chinnaswamy Stadium,HDPK Dharmasena
634,635,Delhi,Gujarat Lions,Sunrisers Hyderabad,normal,Sunrisers Hyderabad,4,Feroz Shah Kotla,CK Nandan

In [15]:
# Q3. Find the number of matches played in Mumbai in the period of 2013 and 2017
df[ (df['city']=='Mumbai') & (df['season']>=2013) & (df['season']<=2017)].shape[0]

38

In [16]:
# Q4. Find the number of matches where the margin of victory was greater than 30
df[df['win_by_runs']>30].shape[0]

103

In [17]:
# Q5. What percent times KKR decides to bat after winning the toss
toss_wins=df[df['toss_winner']=='Kolkata Knight Riders'].shape[0]
decide_bat=df[(df['toss_winner']=='Kolkata Knight Riders') & (df['toss_decision']=='bat')].shape[0]
(decide_bat/toss_wins)*100

38.46153846153847